[Unit]
Description=MQTT Proxy service
After=docker.service network.target
[Service]
WorkingDirectory=${FOLDER}
ExecStart=/bin/bash ${FOLDER}/mqttproxy.sh
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3
[Install]
WantedBy=multi-user.target
